<h1>Add a New Animal</h1>
<form action="/api/animals" method="post">
    <label for="animal_species">Species:</label>
    <input type="text" id="animal_species" name="animal_species" required><br>

    <label for="scientificName">Scientific Name:</label>
    <input type="text" id="scientificName" name="scientificName" required><br>

    <label for="country">Country:</label>
    <input type="text" id="country" name="country" required><br>

    <label for="information_link">Information Link:</label>
    <input type="url" id="information_link" name="information_link" required><br>

    <button type="submit">Add Animal</button>
</form>