/* Custom styles */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure modals and other elements are displayed over the background */
.modal {
  z-index: 1050; /* Bootstrap default z-index for modals */
  position: relative;
}

.container {
  margin-top: 50px;
}

.modal-header {
  background-color: #343a40;
  color: white;
}

.modal-footer {
  background-color: #f1f1f1;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

#petCard {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#petCard svg {
  width: 100%;
  height: auto;
  border: 2px solid white;
}

/* Additional custom styles */
.navbar .footer {
  background-color: rgba(76, 175, 80, 0.8); /* Semi-transparent green background */
}

.wiggle {
  animation: wiggle 0.3s infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

